.appartment__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appartment__content img {
  width: 100%;
  border-radius: 15px;
}

.appartment__title{
  margin: 30px 0;
  font-weight: bold;
}

.appartment__subtitle{
  margin: 20px 0;
}

.table-subtitle{
  font-weight: bold;
}

.appartment__btn {
  width: 100px;
  height: 40px;
}

.appartment-table{
  max-width: 100%;
  margin: 20px 0px;
}

.appartment__phone {
  font-weight: 600;
}

th, td {
  padding: 10px;
  text-align: center;
}
table ul {
  text-align: start;
}

td{
  width: 30%;
}

@media only screen and (max-width: 765px) {
  .appartment__subtitle{
    margin-left: 25px;
  }

  li {
    text-align: justify;
    margin-right: 10px;
  }
}