.appartment__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appartment__content img {
  width: 90%;
  border-radius: 15px;
}

.appartment__title {
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.appartment__subtitle {
  margin: 20px 0;
  text-align: center;
}

.appartment__btn {
  width: 70%;
  height: 40px;
  font-size: 15px;
}