.site-footer {
  background: var(--darkback);
  font-size: 14px;
  color: var(--light);
  height: 15%;
  padding: 40px 0px;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin: 20px 0px;
}

.footer-contact a:hover {
    text-decoration: none;
    color: burlywood;
}

.footer-line{
  background: var(--backline);
  box-shadow: 0px 1px 5px var(--light);
  height: 1px;
}

.footer-info{
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
}

.footer-social-links {
  display: flex;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.footer__address{
  width: 50%;
}

.footer__phones {
  width: 50%;
  text-align: end;
}


.map {
  margin-top: 20px;
  font-size: 100%;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  width: 30%;
  margin-top: 15px;
}

.social {
  padding-right: 15px;
}

.social img {
  width: 24px;
}

.social img:hover{
  opacity: 0.5;
}