
.form-title {
    font-weight: 500;
}

.oferta{
    text-align: center;
}

.order-btn {
    color: var(--light);
    background-color: var(--btncolor);
    border-color: var(--btncolor);
    width: 100%;
    margin-top: 20px;
}

.order-btn:hover {
    color: var(--light);
    opacity: 0.8;
}

@media (min-width: 992px) {
    .modal-content{
        width: 70%;
        margin-left: 82px;
    }
}