.site-header {
    background: var(--darkback);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    color: var(--light);
    position: relative;
}

.logo img {
    width: 80px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 420px;
}

.header-content a:hover {
    text-decoration: none;
    color: #c0c0c0;
}

.phone-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone-icon {
    width: 15px;
    margin-right: 3px;
}

.phone {
    font-size: 16px;
    margin-right: 30px;
}

.callback {
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    width: auto;
    padding: 0px 5px;
}

.language {
    background: none;
}

.nav-item {
    text-align: center;
}

.nav-item img {
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 992px) {
    .header-nav {
        padding-top: 15px;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        width: 400px;
        margin-bottom: 20px;
    }

    .header-navbar {
        height: auto;
        align-items: center;
    }

    .nav-item img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .nav-link {
        text-align: start;
        display: flex;
        flex-direction: row;
    }

    .callback {
        margin-left: 15px;
        font-size: 14px;
        height: 25px;
        width: auto;
    }

    .phone-icon {
        width: 10px;
        margin-right: 3px;
    }

    .phone {
        font-size: 12px;
        margin-right: 0px;
    }

    .language {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 9px;
    }
}

@media (max-width: 767px) {
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        color: var(--light);
        padding: 20px 0;
    }

    .header-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 14px;
    }

    .phone-icon {
        width: 8px;
        margin-right: 3px;
    }

    .logo img {
        width: 60px;
    }

    .language {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 9px;
    }
}

@media (max-width: 576px) {
    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        color: var(--light);
        padding: 20px 0;
    }

    .header-nav {
        font-size: 14px;
    }

    .phone-icon {
        width: 8px;
        margin-right: 3px;
    }
}

@media (max-width: 320px) {

    .header-nav {
        font-size: 10px;
    }
}