.house__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.house__content img {
  width: 100%;
  border-radius: 15px;
}

.house__title {
  margin: 30px 0;
  font-weight: bold;
}

.house__subtitle {
  margin: 20px 0;
}

.table-subtitle {
  font-weight: bold;
}

.house__btn {
  width: 100px;
  height: 40px;
}

.house-table {
  max-width: 40%;
  margin-bottom: 30px;
}

.house__phone {
  font-weight: 600;
}

<<<<<<< HEAD:src/house-security/house-security.css
.table-responsive1 {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-x: inherit;
}

th, td {
=======
th,
td {
>>>>>>> 6861ec8ede2448f43ebe0a97ce021ad383ae0985:styles/house-security.css
  padding: 10px;
  text-align: center;
}

table ul {
  text-align: center;
  margin-top: 15px;
}

td {
  width: 30%;
}

@media (max-width: 640px) {
  table {
    max-width: 100%;
    overflow-x: none;
  }

  .house__subtitle {
    margin: 25px;
  }
}