.intercom__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intercom__content img {
  width: 50%;
  border-radius: 15px;
  margin-right: 15px;
}


.intercom__title{
  margin: 30px 0;
  font-weight: bold;
  text-align: center;
}

.intercom__text{
  margin: 30px 0px;
  text-align: justify;
}

.intercom__subtitle{
  margin: 20px 0;
  text-align: center;
}

.intercom__btn {
  width: 60%;
  height: 40px;
  font-size: 15px;
}

.intercom__info {
  display: flex;
  margin: 0px 0px 30px 0px;
}

@media (max-width: 992px) {
  .intercom__info {
    display: block;
  }
  
  .intercom__content img {
    width: 100%;
    border-radius: 15px;
    margin: 20px 0;
}
}