

.first-slide {
    height: 700px;
    background: url(../img/slide1.jpg) bottom / cover no-repeat;
}
.second-slide {
    height: 700px;
    background: url(../img/slide2.jpg) center / cover no-repeat;
}
.third-slide {
    height: 700px;
    background: url(../img/slide3.jpg) bottom / cover no-repeat;
}

.first-slide__content{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}

.second-slide__content{
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}

.third-slide__content {
    padding-top: 80px;
}

.third-slide__content h1{
    font-size: 40px;
}

.slide__title{
    font-size: 80px;
    font-weight: bolder;
    color: var(--titlecolor);
    margin-bottom: 50px;
}


.slide__btn{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 200px;
    left: 150px;
    text-transform: uppercase;
}