.stocks {
  align-items: stretch;
  border-bottom: none;
  box-shadow: 0 12px 24px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  min-height: 400px;
  border-radius: 6px;
  width: 100%;
}

.stocks:hover {
  transition-duration: .30s;
  cursor: pointer;
  box-shadow: 0 12px 24px rgba(0,0,0,.1);
}

.stocks_preview {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 6px 6px 0 0;
}

#order {
  background-color: #fff;
}

.stock__btn {
  width: 100%;
  height: 40px;
  font-size: 15px;
}