@import './header.css';
@import './main-content.css';
@import './form.css';
@import './footer.css';
@import './business.css';
@import './stock.css';
@import './appartment-security.css';
@import './house-security.css';
@import './safesignal.css';
@import './fire-alarm.css';
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './video-monitoring.css';
@import './intercom.css';
@import './prem-alarm.css';
@import './privacy.css';
@import './slick.css';
@import './stock-video_monitoring.css';

:root {
    --light: #e8eeee;
    --darkback: #007090;
    --btncolor: #01A7C2;
    --titlecolor: #EAEBED;
    --backline: #A3BAC3;
    --text-color: #6e6e6e;
    --btn-txt-color: #f9f9f9;
}

body {
    margin: 0px;
    font-family: 'PT Sans', sans-serif;
    background: var(--light);
    color: var(--text-color);
}

h1,
h2,
h3,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

ul {
    text-align: start;
}


button {
    padding: 0;
}

.style-btn {
    background: var(--btncolor);
    border: none;
    border-radius: 5px;
    color: var(--btn-txt-color);
    font-weight: bold;
}

.style-btn:hover {
    background: var(--titlecolor);
    border: 1px solid var(--btncolor);
    color: var(--btncolor);
}

button:focus {
    outline: none;
}

.contact-btn {
    width: 110px;
    height: 30px;
    border-radius: 5px;
    background: none;
    color: var(--light);
    border: 1px solid var(--light);
    font-size: 14px;
    font-weight: bold;
}

.contact-btn:hover {
    background-color: var(--light);
    color: var(--darkback);
}

.card {
    text-align: center;
    font-size: 12px;
    height: 100%;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-subtitle {
    font-weight: bold;
    font-size: 18px;
}

.card-description {
    padding: 15px;
    font-size: 15px;
}

.card-text {
    font-size: 15px;
}

.card ul {
    font-size: 14px;
}

.download-icon{
    color: inherit;
}

.download-icon:hover {
    color: inherit;
}

@media (max-width: 765px) {
    .contact-btn {
        width: 80px;
        height: 25px;
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 30px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 765) {
    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}