@import './header.css';
@import './main-content.css';

:root {
    --light: #f9f9f9;
    --darkback: #333333;
    --btncolor: #61c50f;
    --titlecolor: #77ff07;
}

body {
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

button {
    padding: 0;
}

.style-btn {
    background: var(--btncolor);
    border: none;
    border-radius: 10px;
    color: var(--light);
}

.style-btn:hover {
    opacity: 0.9;
}

.order-btn {
    color: var(--light);
    background-color: var(--btncolor);
    border-color: var(--btncolor);
}

.order-btn:hover {
    color: var(--light);
    opacity: 0.8;
}

button:focus {
    outline: none;
}


.modal-form {
    padding: 20px;
}

option:hover{
    cursor: pointer;
    background: red;
}